@model TelematWeb.Areas.Admin.Models.FormsViewModel.MarcadorBasesViewModel

<div id="map" style="width:auto; height:350px;"></div>
<label>Nombre: </label>
<label>@Model.Nombre</label>
<label>Latitud: </label>
<label>@Model.Latitud</label>
<label>Longitud: </label>
<label>@Model.Longitud</label>

<script id="dxss_myCode2" type="text/javascript">
    window.initMap = function () {
        //var uluru = { lat: 40.297166, lng: -3.429771 };
        var uluru = { lat: @Model.Latitud, lng: @Model.Longitud };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: uluru 
        });        
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
        // Make the marker-pin blue! 
        marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')
    };
    
    MVCxClientGlobalEvents.ControlsInitialized.AddHandler(function (s, e) {
        initMap();
    });
</script>

<script  id="dxis_MyCode" async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDc18sN0gVECb_pyMbRd9Qu3sVO7cSqqE4"></script>