@using TelematWeb.Areas.Admin.Models.FormsViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Bases de Repostaje</h2>

<script type="text/javascript">

    function OnGridFocusedRowChanged(s, e) {
        alert('Estamos en la primera funcion');
        s.GetRowValues(s.GetFocusedRowIndex(), 'Nombre;Latitud;Longitud', OnGetRowValues);
    }
    function OnGetRowValues(values) {
        alert('Estamos en la base: ' + values[0] + ' ' + values[1] + ',' + values[2]);
        @ViewData["Nombre"] = values[0]
        @ViewData["Latitud"] = values[1];
        @ViewData["Longitud"] = values[2];
    }

</script>
<div >
    @Html.Action("GridViewBasesPartial")    
</div>
<br />
<br />
<div >
    @Html.Action("CargaMapa")
</div>

@*, new
    {
        marker = new MarkerMapBase
        {
            Nombre = @ViewData["Nombre"].ToString(),
            Latitud = @ViewData["Latitud"].ToString(),
            Longitud = @ViewData["Longitud"].ToString()
            }
            })*@